<!DOCTYPE>
<html ng-app="valentine">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width initial-scale=1 maximum-scale=1">
    <link type= "text/css" rel="stylesheet" href= "css/reset.css"/>
    <link type= "text/css" rel="stylesheet" href= "css/custom/main.css"/>
    <title>Valentine Gifts</title>
  </head>

  <body ng-controller="valentineGiftsController">
    <header>
      <div>valentinegifts.com</div>
    </header>
    <div id="wrapper">
      <div class="addForm">
        <form ng-submit="addGift()">
          <legend>Add a valentine gift</legend>
          <div class="add-form-group">  
            <input class="form-control" type="text" placeholder="Item name" ng-model="name">
            <input class="form-control" type="text" placeholder="Description" ng-model="description">
            <input class="form-control" type="text" placeholder="Price" ng-model="price">
            <button type="submit" class="btn safe">Add This Gift</button>
            <button type="reset" class="btn unsafe">Cancel</button>
        </form>
          </div>
      </div>

      <table class="table">
        <caption>Valentine Gifts</caption>
        <tr>
          <th>Item</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
        <tr ng-repeat="gift in gifts">
          <td>
            <a title="{{gift.name}} - {{gift.description}} || {{gift.price | currency}}" href="#" ng-click="edit(gift._id, gift.name, gift.description, gift.price)">{{gift.name}}</a>
          </td>
          <td>{{gift.description}}</td>
          <td>{{gift.price | currency}}</td>
        </tr>
      </table>
    </div>
    <div class="editForm" ng-hide="hideEditForm">
      <form ng-submit="editGift()">
        <div class="edit-form-group">  
          <input class="edit-form-control" type="text" placeholder="Item name" ng-model="newName">
          <input class="edit-form-control" type="text" placeholder="Description" ng-model="newDescription">
          <input class="edit-form-control" type="text" placeholder="Price" ng-model="newPrice">
          <button type="submit" class="edit-btn safe">Update This Gift</button>
          <button type="button" class="edit-btn unsafe" ng-click="cancel()">Cancel</button>
        </div>
      </form>  
    </div> 

    <script src="js/vendor/angular.js"></script>
    <script src="js/vendor/angular-mocks.js"></script>
    <script src="js/vendor/jquery-2.1.1.js"></script>
    <script src="js/custom/controller.js"></script>
  </body>
</html> 


















